version: '3'
services:
  reverseproxy:
    image: nginx:mainline-alpine
    container_name: reverseproxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./reverseproxy:/etc/nginx/conf.d
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - web-root:/var/www/html
      - dhparam:/etc/ssl/certs
    restart: unless-stopped 
    depends_on: 
      - florals
    networks: 
      - byamanda-network

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - web-root:/var/www/html
    command: certonly --webroot --webroot-path=/var/www/html --email joshrasmussen34@gmail.com --agree-tos --no-eff-email --staging -d byamanda.design
    depends_on:
      - reverseproxy

  home:
    build: ./home
    image: byamanda-home
    container_name: home 
    restart: unless-stopped 
    networks: 
      - byamanda-network

  florals:
    build: ./florals
    image: byamanda-florals
    container_name: florals
    restart: unless-stopped
    networks: 
      - byamanda-network

volumes:
  certbot-etc:
  certbot-var:
  web-root:
  dhparam:
    driver: local
    driver_opts:
      type: none
      device: /home/josh/byamanda-site/dhparam/
      o: bind

networks:
  byamanda-network:
    driver: bridge